/* @media only screen and (min-width: 500px) {
    body {
      background-color: black;
    }

    .intro1{
        margin-top: 80px;
        width: 100%;
        float: left;
     
    
    }
    .img{
        width: 400px;
        }

        h1{
            margin-left: 10%;
            font-size: 50px;
        }
        h5{
            margin-left: 15%;
        }
  } */
